
<div class="ltl-home-brief span-18">
  <div class="ltl-home-point span-18 last">
    <h2>FEEDBACK</h2>
    <p>stuff here</p>
  </div>
  <div class="ltl-home-point span-18 last">
    <h2>LEARNING</h2>
    <p>stuff here</p>
  </div>  
  <div class="ltl-home-point span-18 last">
    <h2>FREEDOM</h2>
    <p>stuff here</p>
  </div>
</div>

<div class="ltl-login-form span-6">
  <h2>Sign in</h2>
  <%= link_to "create an account", new_users_path %>
  <form>
    <label>Email:</label><br/>
    <input type="text" name="email" />
    <br/>
    <label>Password:</label><br/>
    <input type="password" name="password" />
    <br/>
    <input type="submit" name="submit" value="Sign in" />
  </form>
</div>

