
<div class="ltl-chart span-24 last">

  <%= javascript_tag "var xbardata = #{JSON.dump(to_control_chart(@deliveries_per_day))}" %>


  <div id="xbar"></div>
  <%= javascript_include_tag "controlchart" %>

</div>

