<div class="span-12">
  <h2>
    <%= link_to "Individual Statistics", project_statistic_path(params[:project_id], "individual") %> 
  </h2>
  <p>
    Delivery count and cost charts for the currently logged in developer. These statistics are only available
    to the individual developer they belong to.
  </p>
</div>

<div class="span-=12 last">
  <h2>
    <%= link_to "Team Statistics", project_statistic_path(params[:project_id], "team") %>
  </h2>
  <p>
    Delivery count and cost charts for the entire project team. These provide the best measure of the overall
    team capability.
  </p>
</div>

