.container a {
    color: #1142AA;
}

.container h2 {
    color: #FFA900;
}

.ltl-application-menu a {
    text-decoration: underline;
    color: #FFA900;
}

.subpoint {
    color: #4373D5;
}

div.ltl-tasks a {
    color: #4373D5;
    text-decoration: none;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

div.field_with_errors > input {
  border: 1px solid red;
}

#error_explanation {
  border: 2px solid #ddd;
  padding: 0.8em;
  margin-bottom: 1em;
  background:#fbe3e4;
  color:#8a1f11;
  border-color:#fbc2c4;
}

#error_explanation ul {
    margin-bottom: 0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 1em;
  color: #8a1f11;
}

header h1 {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
}

header > h1 > a {
    text-decoration: none;
    color: #111;
}

header .ltl-menu {
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

header nav {
  color: #666;
  font-weight: bold;
}

header nav > span {
    color: #FFA900;
    text-align: center;
    padding: 0 15px 0 15px;
}

header nav > a {
    border-left: 1px ridge #333;
    border-right: 1px groove #333;
    padding: 0 15px;
    text-decoration: none;
}

input[type="submit"] {
    -moz-border-radius: 2px 2px 2px 2px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(-90deg, #EEE, #E1E1E1) repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #E1E1E1;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-family: helvetica,arial,freesans,clean,sans-serif;
    font-weight: bold;
    font-size: 1em;
    overflow: visible;
    text-shadow: 1px 1px 0 #FFFFFF;
    white-space: nowrap;
}

.ltl-flash {
    text-align: center;
}

.ltl-task-summary {
    border: 1px solid #CCC;
}

.ltl-task-title > a {
    padding-left: 0.5em;
    font-weight: bolder;
}

/** ineffective
.ltl-bucket-tasks {
    height: 284px;
}
**/

.ltl-bucket-title {
    font-weight: bold;
    font-size: 120%;
    color: #FFA900;
}

.ltl-projects-list > h5 {
    margin-bottom: 0.5em;
}

.ltl-project-action {
    margin-bottom: 1.5em
}

.ltl-bucket-title #new {
    margin-left: 20px;
}

div.ltl-task-colab {

}

div.ltl-task-info {
    font-style: italic;
    font-size:.8em;
    line-height:1.2em;
}

.ltl-project-action .large {
    font-weight: bold;
}

.ltl-home-point {
    padding-left: 30px;
    border-left: 10px solid #FFA900;
}

.ltl-stats > h5, .ltl-stats-explanation > h5 {
    margin-bottom: 0;
    color: #4373D5;
}

/*
error: added commas to three part declaration for border-left
*/

.ltl-form-title > h2 {
    text-align: center;
}

.field > label {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 3px;
}

.field > input[type=checkbox] {
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    padding-top: 1px;
    padding-bottom: 1px;
}

.field > textarea {
    height: 100px;
    padding: 1px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 125%;
}

footer > hr {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

footer div.ltl-footer-bin {
    text-align: center;
    border-left: 1px solid #CCC;
}

footer div.ltl-footer-bin-last {
    border-right: 1px solid #CCC;
}