
Thanks for trying out LOTL;
<br/>
You can activate your account and go straight to your new project home page by clicking on the url below
<br/>

<a href="<%= activate_url :host => @host %>?email=<%= @user.email %>&token=<%= @user.salt %>" >activate account now</a>

<br/>
Enjoy,
<br/>
&nbsp;&nbsp;Marco

