
<div class="ltl-form-title prepend-4 span-16 append-4 last">
  <h2>Edit project</h2>

  <div class="span-10">
    <h3>Settings</h3>
    <%= render 'form' %>
  </div>

  <div class="prepend-1 span-5 last">
    <h3>Collaborators</h3>
    <%= render 'collaborators' %>
  </div>
  
  <div class="span-16">
      <%= link_to 'Back', projects_path %>
  </div>
</div>



