
<hr class="space"/>
<footer class="span24 last">
  <hr/>
  <div class="span-12">
    <div class="ltl-footer-bin">
      <%= link_to t('.whats-and-whys'), whats_and_whys_path %>
    </div>
  </div>
  <div class="span-12 last">
    <div class="ltl-footer-bin ltl-footer-bin-last">
    <%= link_to t('.contact-us'), new_feedback_path %>
    </div>
  </div>

    <!-- Scripts concatenated and minified via ant build script-->
    <!-- end scripts-->
    <%= javascript_include_tag :defaults %>

    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
</footer>
